// COMMANDE //
.commande {
    article {
        background-color: white;
        border: $couleur-fond-de-page 2px solid;
        border-radius: 20px;
        color: $couleur-txt-nav;
        padding: 1% 5%;
        margin: 1% 0%;
        height: auto;
        width: auto;
    }
}