    // PANIER //
    // Liste des Produits en Commande //
    .panier {
        // margin-bottom: 3%;
        h1 {
            text-align: center;
            margin-bottom: 4%;
        }
        h2 {
            font-size: 20px;
            font-weight: bold;
            @media screen and (min-width: 992px) {
                font-size: 25px;
            }
        }
        &-fenetre {
            height: 400px;
            padding-top: 10px;
            border: $couleur-txt-nav 2px solid;
            margin-top: 1%;
            @media screen and (min-width: 992px) {
                height: 123px;
            }
            &--002 {
                margin-top: -80px;
                @media screen and (min-width: 992px) {
                    margin-top: 20px;
                }
            }
            &--003 {
                text-align: center;
                height: 140px;
            }
            img {
                width: 100%;
            }
            input {
                width: 80px;
                text-align: center;
                &:valid {
                    border: green 2px solid;
                }
                &:invalid {
                    border: red 2px solid;
                }
            }
            &-total {
                text-align: center;
                height: 60px;
                p {
                    font-weight: bold;
                }
            }
        }
    }
    
    .panier-ville--002 {
        @media screen and (min-width: 992px) {
            margin-left: -22px;
        }
    }
    
    // Liste des Produits - Contact //
    .panier-contact {
        input {
            height: 60%;
            width: 80%;
        }
        button {
            width: 80%;
            text-align: center;
        }
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */
    
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    /* The Close Button */
    
    .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: green;
        text-decoration: none;
        cursor: pointer;
    }